FLASK_APP=run.py
FLASK_ENV=development
DATABASE_URL=postgresql://postgres:password@db_user:db_port/db_name
TEST_DATABASE_URL=postgresql://postgres:password@db_user:db_port/db_name
SECRET_KEY='secret'
POSTGRES_USER=db_user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
JOBS_SLACK_CLIENT_SECRET=''
JOBS_SLACK_CLIENT_ID=''
ACCESS_KEY_ID=''
SECRET_ACCESS_KEY=''
BUCKET_NAME=''
