body{
  padding: 0px;
  margin: 0px;
  background-size:cover;
  background-image: url(whitepaper.jpg);
  text-align: center;
  
}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.entry{
  text-align: justify;
}
.heading{
  -webkit-text-stroke-color: #fff;
  font-size: 200%;
  background-color: #333331;
  flood-color: #16a6c0;
  width:100%;
}
footer{
	color: #fff;
	background-color: #333331;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 257px;
    margin: 20px auto 0;
    width: 298px;
  }
  .column{
    background-color:#eceeee;
    text-align: center;
    float: left;
    width: 25%;
    height: 300px;
    border-spacing: 1cm;
    color: #333333;
  }
.row {
    padding-bottom: 7%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
  .signup {
    background: #eceeee;
    border: 1px solid #424b45;
    border-radius: 6px;
    height: 500px;
    margin: 20px auto 0;
    width: 298px;
  }
  .login h1 {
    background-image: linear-gradient(top, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
  }
  .show-password {
    display: block;
    height: 16px;
    margin: 26px 0 0 28px;
    width: 87px;
  }
  .forgot {
    color: #7f7f7f;
    display: inline-block;
    font: 12px/1 sans-serif;
    left: -19px;
    position: relative;
    text-decoration: none;
    top: 5px;
    transition: color .4s;
  }
  .login h1 {
    background-image: linear-gradient(top, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
  }
  input[type="password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
  }
  input[type="submit"] {
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #37a69b;
    padding-top:6px;
    margin: 29px 0 0 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #16a6c0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    
  }
  .forgot {
    color: #7f7f7f;
    /* display: inline-block; */
    font: 12px/1 sans-serif;
    left: -19px;
    float:right;
    position: relative;
    text-decoration: none;
    top: 5px;
    transition: color .4s;
  }
  .heading {
    color: #fff;
    background-color: #333331;
    text-align: center;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  } 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
button[type="button"] {
  width:auto;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#333333;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  padding-top:6px;
  cursor:pointer;
  border: black;  
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.sign-heading{
  width: 100px;
  text-align:center;
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px
}

input:invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}