.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 500px;
    margin: 20px auto 0;
    width: 298px;
  }
  .textarea{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 109px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
  }